body {
    font-family: 'Roboto', sans-serif;
    color: var(--main-text-color);
    background-color: var(--main-color);
    font-size: 14px;
}

ul,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
ul {
    list-style: none;
}

a {
    text-decoration: none;
}
.visually__hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.section {
    outline: 1px solid green;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    width: 100%;

    @media screen and (min-width:1200px){
    padding-top: 94px;
    padding-bottom: 94px;
    }
}

.container {   
    outline: 1px solid red;
    padding-left: 15px;
    padding-right: 15px;

    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width:480px){
    width: 480px;
    }
    @media screen and (min-width:768px){
        width: 768px;        
    }
    @media screen and (min-width:1200px) {
        width: 1200px;
    }
}


.section__title {
    font-weight: 700;
    letter-spacing: 0.03em;;

    color: $bold-text-color;
}

