$main-color:#ffffff;
$footer-color:#2f303a;
$background-color: #f5f4fa;
$accent-color: #2196f3;
$main-text-color: #757575;
$bold-text-color: #212121;
$logo-color: #000000;
$footer-link-color: rgba(255, 255, 255, 0.6);
$header-border-color: #ececec;
$filter-border: #eeeeee;
$icon-color: #afb1b8;

